*.a
*.aps
*.aps
*.bsc
*.cache
*.db
*.exe
*.gen
*.idb
*.ilk
*.ipch
*.lastbuildstate
*.lib
*.log
*.manifest
*.o
*.obj
*.opendb
*.opensdf
*.pch
*.pdb
*.pro.user.*
*.res
*.sbr
*.sdf
*.suo
*.tlog
*.unsuccessfulbuild
*.user
*.xcf
.moc
.rcc
/*.opendb
/*.opensdf
/.qmake.stash
/build
/ui
Debug
GeneratedFiles
Makefile
Makefile.*
Release
moc
ui